{% extends 'layout.html' %}

{% block title %}{{ pagetitle|title }}{% endblock title %}

{% block body %}
  <script type="text/javascript">
    var nickname = "{{ nickname }}";
    var host = "{{ host }}";
    var ninjaMode = false;
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/sugar-full.min.js"></script>
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/clientside.js"></script>
  <div id="toppart">
    <h1>{{ pagetitle|title }} <small>| Ze best chat client ever.</small></h1>
    <div class="row">
      <div class="col-md-4 text-justify">
        <p>
            You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>
            to format you messages ! As well as some cool smileys. Maybe you would want some 
            <a href="javascript:void(0);" data-toggle="modal" data-target="#helpmodal">help</a>.
        </p>
      </div>
      <div class="col-md-4 text-center">

      </div>
      <div class="col-md-4">
        <p class="text-center">
          Network status: <span id="connstatus">Awaiting connection <i class="fa fa-circle-o-notch fa-spin"></i></span>
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <i class="fa fa-user"></i>
            </span>
            <input id="nickname" name="nickname" value="{{nickname}}" type="text" class="form-control" placeholder="nickname" required>
          </div>
        </div>
        <div class="col-md-9">
          <div class="input-group input-group-lg">
            <input id="message" name="message" type="text" class="form-control" placeholder="Enter your message here !" required autofocus>
            <div class="input-group-btn">
              <button id="sendbutton" class="btn btn-warning">Send !</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a class="hint--left hint--rounded text-warning" data-hint="Ninja mode will make your messages disappear after 2 minutes." id="ninjamode" href="javascript:void(0);">Switch to ninja mode</a></li>
                <li><a id="clearbutton" href="javascript:void(0);">Clear</a></li>
                <li class="divider"></li>
                <li><a id="randcolorbutton" href="javascript:void(0);">Randomize my color !</a></li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /toppart -->
  <div class="row">
    <div class="col-md-9 centerpart" id="chatconsole">
    </div>
    <div class="col-md-3 centerpart" style="margin-top: 3em;">
      <p id="nbusers" class="text-center"></p>
      <p class="text-center">
        <strong><span id="mynick"></span></strong>&nbsp;<span id="mystatus"></span>
      </p>
        <ul class="list-group" id="userlist">
        </ul>
      </div>
    </div>
  </div>
  
  <!-- 
  
    HELP MODAL ---------------------------------------------------------
  
  -->
  
  <div class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Help about Chatjs</h3>
        </div>
        <div class="modal-body">
          <h2>Chatjs features</h2>
          <p>
            Chatjs has many features, including :
            <ul>
              <li>User count and list</li>
              <li>Nickname change</li>
              <li>Color change</li>
              <li>Ninja mode</li>
              <li>Status updates</li>
              <li>Markdown formating</li>
              <li>Smileys <i class="fa fa-smile-o fa-lg"></i></li>
            </ul>
          </p>
          
          <h2>Nickname and color change</h2>
          <p>
            You can change your nickname by editing it in the left field of the chat window,
            then hitting enter. The change will apply imediately and the other users will be
            notified of the change.
          </p>
          <p>
            To change your nickname's color, go into the "Options" menu and then hit the
            "Randomize my color" option. A new color will be randomly assigned to you.
          </p>
          
          <h2>Markdown formatting</h2>
            <p>
              To enrich a bit your messages, you can format them using the 
              <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>
              formatting language. For instance if you want to produce <em>italic</em> text
              you have to put it between "*" like *this* (it will produce <em>this</em>).
              Same if you want bold text (<strong>**bold**</strong>). But I encourage you to
              read the <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">doc</a> for
              more options.
            </p>
          <h2>Smileys</h2>
            <p>
              Here are some smileys you want to try :
              <ul>
                <li>:)</li>
                <li>:|</li>
                <li>:(</li>
                <li><3</li>
                <li>(y)</li>
                <li>(n)</li>
              </ul>
            </p>
          <h2>Ninja mode</h2>
          <p>
            Maybe you are in an environment where your friend's bullshit-talking aren't safe for
            all to read. This is why exists the <strong>ninja mode</strong>. It is a special
            mode that will make all the messages fade out after two minutes of existence in
            your chat window. That means that you are relatively safe if you leave your
            computer unattended for some time. But it also mean that you will be unable to read
            any message that fades out until you read it. Use carefully !
          </p>
          <p class="bg-warning text-warning">
            <strong>Warning:</strong> The ninja mode applies only for the messages which arrived
            two minutes before the activation of the ninja mode. To remove older messages you must
            use the clear button.
          </p>
          <p>
            This can be enabled/disabled under the "Options" menu.
          </p>
          <h2>Status updates</h2>
          <p>
            You can also specify some "status updates" to specify wether you are doing something
            or maybe to show you are not available. To do this you have to type "/me" followed
            by your status in the chat. The users will see the update as a normal message, but
            prefixed with an <i class="fa fa-asterisk"></i>. It will also appear as a tooltip
            in the nickname list. To remove this tooltip, just type "/me" without any parameter.
          </p>
          <p class="bg-warning text-warning">
            <strong>Warning:</strong> The status update will be seen only by people in the room
            at the moment you send it. Since the server stores no information about anything the
            new users will not even have the status tooltip hovering your nickname.
          </p>
          <h2>Keyboard shortcuts</h2>
          <p>
            Some keyboard shortcuts have also been implemented, such as :
            <ul>
              <li>Alt + c : Randomizes your color</li>
              <li>Alt + n : Toggles ninja mode</li>
              <li>Alt + r : Clears the chat window</li>
            </ul>
          </p>
          <h2>Technical details</h2>
          <p>
            This software is writtent using JavaScript clientside <em>and</em> server side,
            using <a href="http://nodejs.org" target="_blank">node.js</a> and <a href="http://socket.io" target="_blank">socket.io</a>.
          </p>
          <p>
            This software is released under the term of the <a href="http://www.wtfpl.net/txt/copying/" target="_blank">
            do what the fuck you want to public license</a>, and its source code is available on
            <a href="https://github.com/svartbergtroll/chatjs" target="_blank">Github</a>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Got it !</button>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
